<!DOCTYPE html>
<html>

<head>
    <title>Flask Form</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <style>
        .hide {
            display: none;
        }
    </style>
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
        function request_edit(){
            var request_edit = document.getElementById("request_edit");
            var request_edit_button = document.getElementById("request_edit_button");
            if (request_edit_button.innerHTML === "Cancel") {
                request_edit.classList.add("hide");
                request_edit_button.innerHTML = "Edit Request";
                document.getElementById("request_id_input").removeAttribute("required");
            } 
            else {
                request_edit.classList.remove("hide");
                request_edit_button.innerHTML = "Cancel";
                document.getElementById("request_id_input").setAttribute("required", "");  
            }
        }
        setTimeout(function () { $(".alert-success").addClass('hide'); }, 5000);  // 5 seconds
        setTimeout(function () { $(".alert-danger").addClass('hide'); }, 5000);  // 5 seconds
    </script>
</head>

<body>
    <div class="card" style="border:None;">
        <article class=" card-body mx-auto">
            <h4 class="card-title mt-3 text-center">User Form</h4>
            <form action="/order" method="GET" enctype="multipart/form-data">
                <!--get form-->
                <div class="input-group">
                    <input name="order_id" type="search" class="form-control rounded" placeholder="Order Id" aria-label="Order Id" aria-describedby="search-addon" required/>
                    <button type="submit" class="btn btn-primary">Get Details</button>
                  </div>
            </form><br>
            {% if form_details %}
            <form method="POST" enctype="multipart/form-data">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="name" class="form-control" placeholder="Name" type="text" value="{{form_details.Name}}" required readonly>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa-solid fa-city"></i> </span>
                    </div>
                    <input name="city" class="form-control" placeholder="City" type="text" value="{{form_details.City}}" required readonly>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa-solid fa-clock"></i> </span>
                    </div>
                    <input name="slot" class="form-control" placeholder="Order Slot" type="text" required>
                </div>
                <div class=" form-group input-group">
                    <input name="file" type="file" class="form-control" type="file">
                </div>
                <div id="request_edit" class="form-group input-group hide">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa-solid fa-square-check"></i> </span>
                    </div>
                    <input id="request_id_input" name="request_id" class="form-control" placeholder="Request Id" type="text">
                </div>
                <div <div class="form-group">
                    <button type="button" id="request_edit_button" class="btn btn-primary" onclick="request_edit()">Edit Request</button>
                    <button type="submit" class="btn btn-primary "> Submit </button>
                </div>
            </form>
            {% endif %}
            {% if is_success %}
            <div class="alert alert-success" role="alert">
                <p>{{message}} </p>
            </div>
            {% else %}
            {% if is_error %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Oh snap!</h4>
                <p>{{message}} </p>
            </div>
            {% endif %}
            {% endif %}
        </article>
    </div>
</body>

</html>
